@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

@media screen and (min-width: 376px) {
    body {
        width: 100vw;
    }

    main {
        width: 100%;
        height: 100%;
        background-color:  hsl(30, 54%, 90%);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 9%;
    }

    .content-background {
        width: 51%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8.5%;
        padding-bottom: 2%;
    }

    .content {
        height: 100%;
        width: 89%;
    }

    .image {
        width: 100%;
        height: 18.6rem;
        background-image: url("../assets/images/image-omelette.jpeg");
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 6.2%;
        border-radius: 17px;
    }

    .title {
        margin-top: 4%;
    }

    .title > h1 {
        font-family: 'Young Serif', sans-serif;
        font-weight: 400;
        font-size: 40px;
        padding-top: 1%;
    }

    .title > p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Outfit', sans-serif;
        color: hsl(30, 10%, 34%);
        margin-top: 2.9%;
        line-height: 23px;
    }

    .preparation-time {
        margin-top: 5%;
        background-color: hsl(330, 100%, 98%);
        border-radius: 15px;
        padding: 3.8% 0% 3% 3.9%;
    }

    .preparation-time > h3 {
        color: hsl(332, 51%, 32%);
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        margin-bottom: 2.2%;
        font-size: 20px;
    }

    .preparation-time-list > li::marker{
        color: hsl(332, 51%, 32%);
    }

    .preparation-time-list > li {
        font-size: 16px;
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        color: hsl(30, 10%, 34%);
        margin-left: 4%;
        margin-bottom: 2%;
    }

    .preparation-time-list > li > p {
        margin-left: 2.5%;
    }

    span {
        font-weight: 700;
        color: hsl(24, 5%, 18%);
    }

    .ingredients {
        margin-top: 4%;
    }

    .ingredients > h2 {
        color: hsl(14, 45%, 36%);
        font-family: 'Young Serif', serif;
        font-weight: 400;
        font-size: 28px;
        margin-top: 1%;
    }

    .ingredients-list {
        margin-left: 3.6%;
        line-height: 26px;
        width: 72%;
        margin-top: 2.5%;
    }

    .ingredients-list > li::marker {
        color: hsl(14, 45%, 36%);
    }

    .ingredients-list > li {
        color: hsl(30, 10%, 34%);
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin: 1.19% 0px;
    }

    .ingredients-list > li > p {
        margin-left: 3%;
    }

    hr {
        margin-top: 4.7%;
        height: 2%;
    }

    .instructions {
        margin-top: 4%;
    }

    .instructions > h2 {
        font-family: 'Young Serif', serif;
        font-weight: 400;
        color: hsl(14, 45%, 36%);
        font-size: 28px;
    }

    .instructions-list {
        margin-top: 2.7%;
        margin-left: 3.4%;
    }

    .instructions-list > li::marker {
        color: hsl(14, 45%, 36%);
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
    }

    .instructions-list > li {
        color: hsl(30, 10%, 34%);
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 1%;
        line-height: 25px;
        padding-left: 2.6%;
    }

    .nutrition {
        margin-top: 4%;
    }

    .nutrition > h2 {
        font-family: 'Young Serif', serif;
        font-weight: 400;
        color: hsl(14, 45%, 36%);
        font-size: 28px;
    }

    .nutrition > p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Outfit', sans-serif;
        color: hsl(30, 10%, 34%);
        margin-top: 3%;
    }

    .nutrition-list-container {
        margin-top: 4.3%;
    }

    .nutrition-list {
        display: flex;
        margin: 2% 0%;
    }

    .nutrition-list > p {
        width: 45%;
        height: 10%;
        font-family: 'Outfit', sans-serif;
    }

    .nutrition-category {
        margin-left: 5%;
        color: hsl(30, 10%, 34%);
        font-weight: 400;
    }

    .nutrition-metric {
        margin-left: 1%;
        color: hsl(14, 45%, 36%);
        font-weight: 700;
    }

    .nutrition-lines {
        margin-top: 0%;
        margin-bottom: 0%;
    }
}




@media screen and (max-width: 375px) {

    body {
        width: 100vw;
        height: 100%;
    }

    main {
        width: 100%;
        height: 100%;
        background-color:  hsl(30, 54%, 90%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-background {
        width: 100%;
        height: 100%;
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        height: 100%;
        width: 100%;
    }

    .image {
        width: 100%;
        height: 10.6rem;
        background-image: url("../assets/images/image-omelette.jpeg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .title {
        margin-top: 10.6%;
        margin-left: 8.5%;
        margin-right: 8%;
    }

    .title > h1 {
        font-family: 'Young Serif', serif;
        font-weight: 400;
        line-height: 38px;
        font-size: 36px;
    }

    .title > p {
        margin-top: 7%;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Outfit', sans-serif;
        color: hsl(30, 10%, 34%);
        line-height: 24px;
    }

    .preparation-time {
        margin-top: 9%;
        background-color: hsl(330, 100%, 98%);
        border-radius: 15px;
        padding: 5% 5% 6% 5%;
        margin-left: 8%;
        margin-right: 8%;
    }

    .preparation-time > h3 {
        color: hsl(332, 51%, 32%);
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        font-size: 19.5px;
        margin-left: 2.3%;
    }

    .preparation-time-list {
        margin-top: 5.5%;
    }

    .preparation-time-list > li::marker{
        color: hsl(332, 51%, 32%);
    }

    .preparation-time-list > li {
        font-size: 16px;
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        color: hsl(30, 10%, 34%);
        margin-left: 11.5%;
        margin-top: 2.2%;
        height: auto;
    }

    .preparation-time-list > li > p {
        margin-left: 6%;
        width: 80%;
        line-height: 24.5px;
    }

    span {
        font-weight: 700;
        color: hsl(24, 5%, 18%);
    }
    

    .ingredients {
        margin-top: 8%;
        margin-left: 8.5%;
        margin-right: 8%;
    }

    .ingredients > h2 {
        color: hsl(14, 45%, 36%);
        font-family: 'Young Serif', serif;
        font-weight: 400;
        font-size: 28px;
    }

    .ingredients-list {
        margin-left: 7.4%;
        margin-top: 6.3%;
    }

    .ingredients-list > li::marker {
        color: hsl(14, 45%, 36%);
    }

    .ingredients-list > li {
        color: hsl(30, 10%, 34%);
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 4.3%;
    }

    .ingredients-list > li > p {
        margin-left: 5.5%;
    }

    #multiple-line-item {
        line-height: 21px;
    }

    .ingredients > hr {
        margin-top: 10.5%;
        height: 2%;
    }

    .instructions {
        margin-top: 6.6%;
        margin-left: 8.5%;
        margin-right: 9%;
    }

    .instructions > h2 {
        font-family: 'Young Serif', serif;
        font-weight: 400;
        color: hsl(14, 45%, 36%);
        margin-bottom: 6%;
        font-size: 28px;
    }

    .instructions-list {
        margin-left: 8%;
    }

    .instructions-list > li::marker {
        color: hsl(14, 45%, 36%);
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
    }

    .instructions-list > li {
        color: hsl(30, 10%, 34%);
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 1.5%;
        line-height: 24.9px;
        padding-left: 5%;
    }

    .instructions > hr {
        margin-top: 9.7%;
    }

    .nutrition {
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 10%;
    }

    .nutrition > h2 {
        font-family: 'Young Serif', serif;
        font-weight: 400;
        color: hsl(14, 45%, 36%);
        margin-left: 1%;
        font-size: 28px;
        margin-top: 8%;
    }

    .nutrition > p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Outfit', sans-serif;
        color: hsl(30, 10%, 34%);
        margin-top: 6.5%;
        line-height: 23px;
        margin-left: 1%;
    }

    .nutrition-list-container {
        padding-top: 4.5%;
    }

    .nutrition-list {
        display: flex;
        margin-top: 4%;
        margin-bottom: 4.4%;
    }

    .nutrition-list > p {
        width: 41%;
        height: 10%;
        padding-left: 1%;
    }

    .nutrition-category {
        margin-left: 10%;
        color: hsl(30, 10%, 34%);
        font-weight: 400;
        font-family: 'Outfit', sans-serif;
    }

    .nutrition-metric {
        margin-left: 1%;
        color: hsl(14, 45%, 36%);
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
    }
}